
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	text-align:center;
	background-repeat:repeat-x;
}

hr {
}

a {

	text-decoration: underline;
	color: #3471CD;
}

strong {
}

.spacer {
	margin-left: 80px;
}

a:hover {

	text-decoration: underline;
	color: #566988;
}



#header-wrap {
	position: fixed;
        top:0px;
	width: 100%;
	height: 55px;
	text-align:left;
	background-image:url('bg.png');
	background-repeat:repeat-x;
	background-color: #DADEE6;
	border-bottom:2px solid #999;
	z-index:200;
}

#footer-wrap {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 55px;
	text-align:left;
	background-image:url('bg.png');
	background-repeat:repeat-x;
	background-color: #DADEE6;
	border-top:2px solid #999;
	z-index:200;
}

#header-content {
	margin-left:30px;
}


.wrapper {
	clear: both;
	width: 100%;
	margin-top: 60px;
}


.sidebar{
	width: 25%;
	height: 68%;
	margin: 30px;
	padding: 20px;
	background-color:white;
	overflow-x: hidden; 
	overflow-y: scroll;
	position:fixed;
	right: 3%;
	border-style:solid;
	border-width:1px;
	border-color: #cccccc;
	text-align: left;

}

.major {
	text-align:left;
	clear: both;
	width: 58%;
	margin: 20px 20px 50px 20px;
	padding: 20px;
}


label
	{
	width: 4em;
	float: left;
	text-align: right;
	margin-right: 0.5em;
	display: block
}


.submit input
	{
	margin-left: 4.5em;
} 


.input_form {
	color: black;
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.submit_form {
	color: black;
	font-size: 14px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.red { 
	color: #E03A3A;
}

.blue {
	color: #6686BD;
}

h1 {
	font-size: 22px;

}

h2 {
	font-size: 18px;
	color: #3D5B8F;
}

h3 {
	font-size:14px;
}


h4 {
	font-size:16px;
}


p {
	font-size: 14px;
}


/* style for validation */
 
div.vanadium-invalid {
    border-color: red !important;
    border-style: solid !important;
}
 
div.vanadium-valid {
    border-color: green !important;
    border-style: solid !important;
}
 
.vanadium-message-value {
    font-style: italic;
    text-decoration: underline;
}
 
.vanadium-advice.vanadium-invalid, .vanadium-advice.vanadium-invalid * {
    color: red;
}

/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.
*/



/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
* jQuery UI CSS Framework
* Copyright (c) 2009 AUTHORS.txt (http://jqueryui.com/about)
* Dual licensed under the MIT (MIT-LICENSE.txt) and GPL (GPL-LICENSE.txt) licenses.


/* Component containers
----------------------------------*/
.ui-widget { font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif; font-size: 14px; }
.ui-widget-content { border: 0px solid;	border-color: #7A7C80; background: white; top repeat-x; color: #333333;	}
.ui-widget-content a { color: #333333; }
.ui-widget-header { background: white; repeat-x; color: #ffffff; font-weight: bold; }
.ui-widget-header a { color: #ffffff; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default { border: 1px solid #cccccc; background: #f6f6f6 50% 50% repeat-x; font-weight: bold; color: #1c94c4; outline: none; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #1c94c4; text-decoration: none; outline: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus { border: 1px solid #fbcb09; background: #fdf5ce; font-weight: bold; color: #c77405; outline: none; }
.ui-state-hover a, .ui-state-hover a:hover { color: #c77405; text-decoration: none; outline: none; }
.ui-state-active, .ui-widget-content .ui-state-active { border: 1px solid #fbd850; background: #ffffff; font-weight: bold; color: #eb8f00; outline: none; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #eb8f00; outline: none; text-decoration: none; }


/* Tabs
----------------------------------*/
.ui-tabs { padding: 0px; zoom: 1; }
.ui-tabs .ui-tabs-nav { list-style: none; position: relative; padding: 10px 10px 0; }
.ui-tabs .ui-tabs-nav li { position: relative; float: left; border-bottom-width: 0 !important; margin: 0 .2em -1px 0; padding: 0; }
.ui-tabs .ui-tabs-nav li a { float: left; text-decoration: none; padding: .5em 1em; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected { padding-bottom: 1px; border-bottom-width: 0; }
.ui-tabs .ui-tabs-nav li.ui-tabs-selected a, .ui-tabs .ui-tabs-nav li.ui-state-disabled a, .ui-tabs .ui-tabs-nav li.ui-state-processing a { cursor: text; }
.ui-tabs .ui-tabs-nav li a, .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { cursor: pointer; } 
.ui-tabs .ui-tabs-panel { padding: 0px 10px; display: block; border-width: 0; background: none; }
.ui-tabs .ui-tabs-hide { display: none !important; }

/* Accordion
----------------------------------*/
.ui-accordion .ui-accordion-header { cursor: pointer; position: relative; margin-top: 1px; zoom: 1; }
.ui-accordion .ui-accordion-li-fix { display: inline; }
.ui-accordion .ui-accordion-header-active { border-bottom: 0 !important; }
.ui-accordion .ui-accordion-header a { display: block; font-size: 1em; padding: .5em .5em .5em 2.2em; }
.ui-accordion .ui-accordion-header .ui-icon { position: absolute; left: .5em; top: 50%; margin-top: -8px; }
.ui-accordion .ui-accordion-content { padding: 1.75em 1em; border-width:1px; border-color: #fbd850; border-top: 0; margin-top: -2px; position: relative; top: 1px; margin-bottom: 2px; overflow: auto; display: none; }
.ui-accordion .ui-accordion-content-active { display: block; }

