
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	text-align:center;
	background-repeat:repeat-x;
}

hr {
	border:none 0;
	margin-top:15px;
	border-top:2px dotted #999;
	height:1px;
}

.wrapper {
	clear: both;
	width: 100%
	margin: 0 auto;	
}

.sidebar{
	width: 25%;
	height: 600px;
	margin: 30px;
	overflow-y: scroll;
	overflow-x: hidden;
	padding: 20px;
	background-color:#C5CCD9;
	position:fixed;
	right: 2%;
	text-align: left;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius: 10px;

}


.main {
	text-align:left;
	clear: both;
	background-color: #E9EAEB;
	width: 60%;
	margin: 30px;
	padding: 20px;
	-moz-border-radius:10px 10px 10px 10px;
	-webkit-border-radius: 10px;
}

.input_form {
	color: black;
	font-size: 18px;
	font-weight: normal;
	line-height: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.submit_form {
	color: black;
	font-size: 18px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.red { 
	color: #E03A3A

}

.blue {
	color: #6686BD
}

h1 {
	font-size: 22px;
	line-height: 22px;

}

h2 {
	font-size: 18px;
	line-height: 18px;
	color: #3D5B8F;
}

h3 {
	font-size:16px;
	line-height:16px;
}


h4 {
	font-size:16px;
	line-height:16px;
}

p {
	font-size: 16px;
	line-height:16px;
}

a {

	text-decoration: underline;
	color: #3471CD;
}

a:hover {

	text-decoration: underline;
	color: #566988;
}

/* style for validation */

* {
    margin: 10px;
}
 
div.vanadium-invalid {
    border-color: red !important;
    border-style: solid !important;
}
 
div.vanadium-valid {
    border-color: green !important;
    border-style: solid !important;
}
 
.vanadium-message-value {
    font-style: italic;
    text-decoration: underline;
}
 
.vanadium-advice.vanadium-invalid, .vanadium-advice.vanadium-invalid * {
    color: red;
}


